html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(46, 46, 79);
    background: linear-gradient(220deg, rgba(46, 46, 79, 1) 0%, rgba(150, 145, 150, 1) 100%);
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #1b1b20;
}

.main-section {
    display: block;
}

.favorites-section {
    display: none;
}

.logo-title {
    margin: 0;
    margin-left: 50px;
    font-size: 37px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #fff;
    font-weight: 300;
    text-shadow: 0px 4px 8px rgba(255, 255, 255, 0.6);
}

.counter-box {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 15px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 1px 15px 0px rgba(255, 255, 255, 0.75);
}

.favorites-counter {
    color: #fff;
    font-family: "Lucida Console", "Courier New", monospace;
}

.header-button {
    margin-right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #fff;
}

.header-button:hover {
    margin-right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #e3b1db;
}

.header-button.active {
    border-bottom: 1px solid #fff;
}

.header-button.active:hover {
    border-bottom: 1px solid #e3b1db;
}

.main-section {
    min-height: 100%;
    background: rgb(46, 46, 79);
    background: linear-gradient(220deg, rgba(46, 46, 79, 1) 0%, rgba(150, 145, 150, 1) 100%);
    width: 100%;
}

.favorites-section {
    min-height: 100%;
    background: rgb(46, 46, 79);
    background: linear-gradient(220deg, rgba(46, 46, 79, 1) 0%, rgba(150, 145, 150, 1) 100%);
    width: 100%;
}

.no-favorites-message {
    margin: 0 auto;
    margin-top: 100px;
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 300;
    color: #fff;
    text-shadow: 0px 4px 8px rgba(255, 255, 255, 0.6);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;
}

.container-title {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 300;
    text-shadow: 0px 4px 8px rgba(255, 255, 255, 0.6);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.film {
    position: relative;
    width: calc(25% - 20px);
    margin: 20px 10px 20px 10px;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px;
    background: rgb(105, 105, 193);
    background: linear-gradient(210deg, rgba(105, 105, 193, 1) 0%, rgba(91, 90, 91, 1) 79%);
}

.poster {
    width: 100%;
    height: 390px;
    border-radius: 7px;
    max-width: 100%;
}

.film-title {
    font-size: 15px;
    padding: 10px;
    color: #fff;
    padding: 0px 10px 0px 10px;
}

.genre-title {
    font-size: 13px;
    margin-bottom: 45px;
    padding: 0px 10px 0px 10px;
    color: #e3c94b;
}

.film-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    background-color: #1b1b20;
}

.green-border {
    border-color: darkgreen;
}

.light-green-border {
    border-color: green;
}

.yellow-border {
    border-color: yellow;
}

.orange-border {
    border-color: orange;
}

.darkorange-border {
    border-color: darkorange;
}

.red-border {
    border-color: red;
}

.heart-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: none;
    border: none;
    cursor: pointer;
    width: 42px;
    height: 35px;
}

.heart-icon {
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(188deg) brightness(106%) contrast(101%);
}

.heart-icon.heart-filled {
    filter: invert(34%) sepia(94%) saturate(7480%) hue-rotate(341deg) brightness(93%) contrast(118%);
}

@media (max-width: 1368px) {
    .film {
        width: calc(25% + 20px);
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .film img {
        width: 100%;
        max-height: 100%;
    }

    .heart-icon {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 1120px) {
    .film {
        width: calc(33.33% + 10px);
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .film img {
        width: 100%;
        max-height: 100%;
    }

    .heart-icon {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 868px) {
    .logo-title {
        font-size: 24px;
    }

    .film {
        width: calc(40% + 100px);
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .film img {
        width: 100%;
        max-height: 100%;
    }

    .heart-icon {
        max-width: 100%;
        max-height: 100%;
    }
}

.footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #1b1b20;
    align-items: center;
    color: #fff;
    justify-content: center;
}