html,
body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #1b1b20;
}

.logo-title {
    margin: 0;
    margin-left: 20px;
    font-size: 37px;
    color: #fff;
    font-weight: 400;
}

.main-section {
    background-color: yellow;
    width: 100%;
}

.container-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 34px;
    color: #fff;
    margin-bottom: 10px;
}

.premiers-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 1300px;
    background-color: green;
}

.top_awaits-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;
    background-color: blue;
}

.best-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;
    background-color: red;
}

.releases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;
    background-color: orange;
}

.film {
    width: calc(25% - 20px);
    margin: 20px 10px 20px 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.film img {
    width: 280px;
    height: 390px;
}

@media (max-width: 1300px) {
    .film {
        width: calc(33.33% - 20px);
    }

    .film img {
        width: 200px;
        height: 280px;
    }
}

@media (max-width: 768px) {
    .film {
        width: calc(50% - 20px);
    }

    .film img {
        width: 200px;
        height: 280px;
    }
}

@media (max-width: 480px) {
    .film {
        width: 100%;
    }

    .film img {
        width: 170px;
        height: 240px;
    }
}